<mat-action-list class="list-edit-profile">
    <mat-form-field appearance="outline">
        <mat-label>Contraseña actual</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Contraseña nueva</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Repetir contraseña nueva</mat-label>
        <input matInput>
    </mat-form-field>
</mat-action-list>
<div class="container-btn-action">
    <button class="btn-action" matButton="filled" cdkFocusInitial>Guardar</button>
</div>