<mat-action-list class="list-edit-profile">
    <mat-form-field appearance="outline">
        <mat-label>Contraseña actual</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="currentPassword" />
        <button matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Contraseña nueva</mat-label>
        <input matInput [type]="hide2() ? 'password' : 'text'" [formControl]="newPassword" />
        <button matIconButton matSuffix (click)="clickEvent2($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon>{{hide2() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (newPassword.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
        }
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Repetir contraseña nueva</mat-label>
        <input matInput [type]="hide3() ? 'password' : 'text'" [formControl]="confirmPassword" />
        <button matIconButton matSuffix (click)="clickEvent3($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide3()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</mat-action-list>
<div class="container-btn-action">
    <button type="button" (click)="onSave()" class="btn-action" matButton="filled" cdkFocusInitial>Guardar</button>
</div>