<mat-action-list class="list-edit-profile">
    <mat-form-field appearance="outline">
        <mat-label>Contraseña actual</mat-label>
        <input matInput type="password" [formControl]="currentPassword">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Contraseña nueva</mat-label>
        <input matInput type="password" [formControl]="newPassword">
        @if (newPassword.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
        }
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Repetir contraseña nueva</mat-label>
        <input matInput type="password" [formControl]="confirmPassword">
    </mat-form-field>
</mat-action-list>
<div class="container-btn-action">
    <button type="button" (click)="onSave()" class="btn-action" matButton="filled" cdkFocusInitial>Guardar</button>
</div>