<div class="card">
    <div class="tittle-bar">
        @if (currentView !== 'token') {
        <button mat-icon-button (click)="goBack()" aria-label="Retroceder">
            <mat-icon>arrow_back</mat-icon>
        </button>
        }

    </div>
    @switch (currentView){
    @case ('token') {

    <h1>Ingresar código de verificación</h1>
    <p>El código de verificiacion ha sido enviado a su correo</p>

    @if (errorMessage()) {
    <p class="error-text">{{ errorMessage() }}</p>
    }
    <app-otp-input (codeChange)="otpCode.set($event)"></app-otp-input>
    <div class="flex">
        <button type="button" matButton="filled" class="submit-container"
            (click)="setView('reset-password')">Enviar</button>
    </div>
    <div class="subtext-container">
        <p>¿No te llegó el código? <a routerLink="/codi" class="request-code">Solicita uno nuevo</a></p>
    </div>
    }

    @case ("reset-password") {
    <h1>Ingresar nueva contraseña</h1>

    <mat-action-list>
        <mat-form-field appearance="outline" class="compact-field">
            <mat-label>Contraseña nueva</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="newPassword" />
            <button matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()">
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (newPassword.invalid) {
            <mat-error>{{ errorMessage() }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline" class="compact-field">
            <mat-label>Repetir contraseña nueva</mat-label>
            <input matInput [type]="hide2() ? 'password' : 'text'" [formControl]="confirmPassword" />
            <button matIconButton matSuffix (click)="clickEvent2($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide2()">
                <mat-icon>{{hide2() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <div class="flex">
            <button type="button" matButton="filled" class="submit-container" (click)="onVerifyToken()">Enviar</button>
        </div>
    </mat-action-list>

    }
    }

</div>