.tittle-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 0px 20px;
    margin-bottom: 0;
}

.btn-close {
    margin-left: auto;
}

mat-dialog-content {
    padding-top: 0;
    margin-top: 0;
}



