<!--Encabezado-->
<div class="tittle-bar">
    @if (currentView !== 'menu') {
    <button mat-icon-button (click)="goBack()" aria-label="Retroceder">
        <mat-icon>arrow_back</mat-icon>
    </button>
    }

    <button class="btn-close" mat-icon-button mat-dialog-close aria-label="Cerrar ventana">
        <mat-icon>close</mat-icon>
    </button>
</div>

@if (currentView == 'menu') {
<h2 mat-dialog-title cdkFocusInitial>Datos personales</h2>
}

@if (currentView == 'edit-name') {
<h2 mat-dialog-title cdkFocusInitial>Editar nombre</h2>
}

@if (currentView == 'edit-email') {
<h2 mat-dialog-title cdkFocusInitial>Editar correo</h2>
}

@if (currentView == 'edit-password') {
<h2 mat-dialog-title cdkFocusInitial>Editar contraseña</h2>
}

<mat-dialog-content>

    @switch (currentView) {
    @case ('menu') {
    <mat-action-list class="list-edit-profile">
        <button mat-list-item (click)="setView('edit-name')">
            <mat-icon matListItemIcon>assignment_ind</mat-icon>
            <div matListItemTitle class="item-title">Nombre</div>
            <div matListItemLine class="item-value">{{ currentUser()?.username || 'Cargando...' }}</div>
        </button>
        <button mat-list-item (click)="setView('edit-email')">
            <mat-icon matListItemIcon>email</mat-icon>
            <div matListItemTitle class="item-title">Correo</div>
            <div matListItemLine class="item-value">{{ currentUser()?.email || 'Cargando...' }}</div>
        </button>
        <button mat-list-item (click)="setView('edit-password')">
            <mat-icon matListItemIcon>vpn_key</mat-icon>
            <div matListItemTitle class="item-title">Contraseña</div>
            <div matListItemLine class="item-value">********</div>
        </button>
    </mat-action-list>
    }

    @case ('edit-name') {
    <app-edit-name>
        
    </app-edit-name>

    }

    @case ('edit-email') {
    <app-edit-email>
        
    </app-edit-email>
    }

    @case ('edit-password') {
    <app-edit-password>

    </app-edit-password>
    }

    @default never;
    }

</mat-dialog-content>
