<div>
    <div class="tittle-bar">
        <h2 mat-dialog-title cdkFocusInitial class="tittle">Datos personales</h2>
        <button mat-icon-button mat-dialog-close aria-label="Cerrar ventana">
            <mat-icon >close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <mat-action-list class="list-edit-profile">
            <button mat-list-item>
                <mat-icon matListItemIcon>assignment_ind</mat-icon>
                <div matListItemTitle class="item-title">Nombre</div>
                <div matListItemLine class="item-value">Daryl Dixon</div>
            </button>
            <button mat-list-item>
                <mat-icon matListItemIcon>email</mat-icon>
                <div matListItemTitle class="item-title">Correo</div>
                <div matListItemLine class="item-value">ilovetheouls@gmail.com</div>
            </button>
            <button mat-list-item>
                <mat-icon matListItemIcon>vpn_key</mat-icon>
                <div matListItemTitle class="item-title">Contraseña</div>
                <div matListItemLine class="item-value">********</div>
            </button>
        </mat-action-list>
    </mat-dialog-content>
</div>