nav {
  background-color: #285750;
  align-content: center;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

nav img {
  margin: 10%;
}

.a-class {
  margin-left: 12rem;
  margin-right: 12rem;
  border-radius: 8px;
  background-color: #285750;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.a-class:hover {
  background-color: #1c3f3a;
}

.active {
  background-color: #ffffff;
  color: black;
}
.user{
  margin-left: 10rem;
}
